/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
    bottom:0; 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background:#75a3a3; color:#000000; }
.page-about     { background:#b3cccc; color:#000000; }
.page-contact   { background:#e0ebeb; color:#000000; }

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */

/* slide in from the bottom */
@keyframes slideOutRight {
    to      { transform: translateX(100%); }
}


/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
}



.ng-enter           { animation: slideInLeft 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutRight 0.5s both ease-in; z-index: 9999; }

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

    /* page specific animations ------------------------ */

    /* home -------------------------- */
    .page-home.ng-enter         { animation: slideInLeft 0.5s both ease-in; }
    .page-home.ng-leave         { animation: slideOutRight 0.5s both ease-in; }

    /* about ------------------------ */
    .page-about.ng-enter        { animation:slideInLeft 0.5s both ease-in; }
    .page-about.ng-leave        { animation:slideOutRight 0.5s both ease-in; }

    /* contact ---------------------- */
    .page-contact.ng-enter      { animation: slideInLeft 0.5s both ease-in; }
    .page-contact.ng-leave      { animation:slideOutRight 0.5s both ease-in; }