/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
    bottom:0;
    padding-top:50px;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
}

.nav-center{
    border:0px solid #ccc;
    border-width:0px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav-center li{
    display:inline;
}
.nav-center a{
    display:inline-block;
    padding:10px;
}

.jumbotron_home{
  background-image:url("/images/homeSplash.jpg");
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.text_left{
    text-align: left;
}

.text_leftcenter{
    text-align: center;
}

.jumbotron_Exp{
  background-image:url('http://i.imgur.com/C3L8rAt.jpg');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconcolorgrey{
    color: #333;
}

@font-face{
  font-family: mFont;
  src: url("fonts/Thin_Line_Font.otf");
}

.logoFont{
  font-family: mFont;
  font-weight: bold;
  font-size: 18px;
}

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background:#FFFFFF; color:#000000; }
.page-about     { background:#FFFFFF; color:#000000; }
.page-portfolio { background:#FFFFFF; color:#000000; }
.page-contact   { background:#FFFFFF; color:#000000; }

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */

/* slide in from the bottom */
@keyframes slideOutRight {
    to      { transform: translateX(-100%);}
}


/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(100%);}
}

@keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}



.ng-enter           { animation: slideInLeft 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutRight 0.5s both ease-in; z-index: 9999; }

.ng-enter       { z-index: -8888; }
.ng-leave       { z-index: -9999; }


    /* page specific animations ------------------------ */

    /* home -------------------------- */
    .page-home.ng-enter         { animation: slideInLeft 0.5s both ease-in; }
    .page-home.ng-leave         { animation: slideOutRight 0.5s both ease-in; }

    /* about ------------------------ */
    .page-about.ng-enter        { animation:slideInLeft 0.5s both ease-in; }
    .page-about.ng-leave        { animation:slideOutRight 0.5s both ease-in; }

    /* about ------------------------ */
    .page-portfolio.ng-enter        { animation:slideInLeft 0.5s both ease-in; }
    .page-portfolio.ng-leave        { animation:slideOutRight 0.5s both ease-in; }

    /* contact ---------------------- */
    .page-contact.ng-enter      { animation: slideInLeft 0.5s both ease-in; }
    .page-contact.ng-leave      { animation:slideOutRight 0.5s both ease-in; }

/* when hiding*/
.ng-hide-add         { animation: fadeOut 0.5s both ease-in; }

/* when showing*/
.ng-hide-remove      { animation: fadeIn 0.5s both ease-in; }

/*contact form style*/
input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
    }

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    }

.form label {
    margin-left: 10px;
    color: #999999;
    }

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    }
