<!DOCTYPE html>
<html>
<head>
	<title>Experience</title>
</head>
<!-- <div class="jumbotron_Exp">
	<div class="container">
		<h1>Experience</h2>
	</div>
</div> -->

<body>
<div class="jumbotron_Exppic"></div>
<div class="logoFontTitle">
	<p>-Experience-</p>
	<h6>I have developed several skills over the years contracting for the government and developing apps inside and outside of college.</h6>
	<h6>A mix of skills ranging from asset management and administrative services to front-end web app development for mobile and desktop platforms</h6>
	<h6>and C# development in Unity</h6>
	<h6>I continue to learn and progress everyday in hopes to advance my career goals</h6>
	<br>
</div>

<!-- <a class="btn btn-success" ng-click="Work = !Work" ng-class="{ active: Work}">Work Experience</a> -->
<a class="buttonExp" ng-click="Dev = !Dev" ng-class="{ active: Dev}">-Public Service Experience | Development and Education-</a>
<br>
<br>
<br>

<div class="jumbotronExp text-left" ng-hide="Dev" ng-show="Work">
<div id="Work">
	  	<div class="logoFontTitle text-center">
	  	<p>-Public Service-</p>
	  	</div>
	  	<div class="jumbotron_Exp">
			<p>As a public servant and contractor I have developed extensive experience as a top-performer in clerical positions for the federal government.</p>
			<p>Skilled in all aspects of material management, records management, administrative tasks, data entry and excellent knowledge of computer hardware and software.</p>

			<br>

			<p>Deparment of National Defence – CFS Leitrim, Ottawa, ON</p>
			<p>Jan. 2016 - Present</p>
			<p><b>Lead LCMM / Cataloguer</b></p>
			<p>Responsibilities:</p>
			<p>•	Initiating Material Identification Requests (MIR) in the DRMIS Portal</p>
			<p>•	Executing several DRMIS transaction codes to acquire corresponding information</p>
			<p>•	Using both the Canadian Government Catalogue of Material (CGCM) and the Canadian Government Cataloguing System (CGCS) to aid in providing existing Stock Codes for Material</p>
			<p>•	Liaise with ADM(IM) staff for creation of Stock Codes</p>
			<p>•	Liaise with DND and Life Cycle Material Managers (LCMM), Supply Managers(SM), and Technical Authorities (TA) for the management of previously catalogued items</p>
			<p>•	Prepare and process DND 2227 Supply Documents as Certified Receipt Vouches in accordance with DND Supply Administration Manual (SAM)</p>
			<p>•	Coordinate with Command staff to assign management data to material</p>
			<p>•	Assist LCMM and Asset Management staff during the procurement process to ensure items are catalogued</p>
			<p>•	Provide detailed reports and correspondence to the Chain of Command on the status of the cataloguing</p>
			<p>•	Tracking assets and maintaining an inventory</p>
			<p>•	Monitoring the recording of assets for accuracy and compliance</p>
			<p>•	Participating in the development of material management procedures</p>
			<p>•	Receipting, bringing on charge, striking off charge, transferring and disposing of various items including serialized controlled equipment in DRMIS</p>
			<p>•	Executing Purchase Orders requesting materials from Depot and Logistiks and liaising with the appropriate Supply Managers</p>
			<p>•	Co-Lead CFS Leitrim’s Change of Command Historical Report (COCHR) 2016 Stocktaking Project</p>
			<p>•	Created C152's for write off of any lost or stolen items that could not be lcoated</p>
			<p>•	Maintained an organized digital file system to reference for current and future stocktaking project</p>


			<br>

			<p>Elections Canada – Ottawa, ON</p>
			<p>Aug. 2015 – Nov. 2015</p>
			<p><b>Assistant Materials Manager / Data Entry Clerk</b></p>
			<p>Responsibilities:</p>
			<p>•	Developing tracking and request sheets in a supply chain for the Kanata district</p>
			<p>•	Following Government of Canada Material Management policies and procedures</p>
			<p>•	Research and analyze technical information in the field of materiel management</p>
			<p>•	Assembling and organizing supply kits for the Advanced and Ordinary polls</p>
			<p>•	Attending meetings and coaching/training courses</p>
			<p>•	Ordering supplies for the Kanata district</p>
			<p>•	Daily use of Outlook, Excel, Word, SVRS</p>
			<p>•	Entering, collecting and ensuring the integrity of data</p>
			<p>•	Verifying, processing and editing Elections application forms in SVRS</p>
			<p>•	Approving and escalating application forms in SVRS</p>

			<br>

			<p>Department of National Defence – D Mar P, Gatineau, QC </p>
			<p>May. 2015 – Aug. 2015</p>
			<p><b>Supply Manager THS</b></p>
			<p>Responsibilities:</p>
			<p>•	Daily use of Outlook, Excel, Word, CGCS, RDIMS, DRMIS SAP and Assyst</p>
			<p>•	Support financial activities by assisting in the preparation of financial spreadsheets and other reports for management</p>
			<p> by using Defence Resource Management Information System (DRMIS)</p>
			<p>•	Entering, collecting and ensuring the integrity of data</p>
			<p>•	Reviewing documents for conformance with regulations and procedures</p>
			<p>•	Verifying, processing and editing Declaration of Surplus forms</p>
			<p>•	Cross-referencing data between DRMIS SAP and CGCS</p>
			<p>•	Tracking all DRMIS disposal information in a spreadsheet</p>
			<p>•	Data clean-up of material requisitions in DRMIS SAP</p>
			<p>•	Updating price information in CGCS</p>
			<p>•	Attending meetings and coaching/training courses</p>

			<br>

			<p>Liberal Party of Canada, Ottawa, ON</p>
			<p>Mar. 2014 - May. 2014</p>
			<p><b>Data Entry Clerk</b></p>
			<p>Responsibilities:</p>
			<p>•	Daily use of Pivotal</p>
			<p>•	Entering, collecting and ensuring the integrity of data</p>
			<p>•	Reviewing documents for conformance with regulations and procedures</p>
			<p>•	Entered/updated donor information into Pivotal and verify accuracy of entries</p>
			<p>•	 Searched existing records in the database to avoid duplication</p>
			<p>•	Processed credit card, cash, and check donations</p>
			<p>•	Created monthly/annual memberships</p>
			<p>•	Updated and verified donor information to ensure correctly issued receipts </p>

			<br>

			<p>Health Canada, Ottawa, ON</p>
			<p>Oct. 2013 - Feb. 2014</p>
			<p><b>Records Clerk</b></p>
			<p>Responsibilities:</p>
			<p>•	Maintaining complex filing systems</p>
			<p>•	Coordinating mail pick-up and delivery</p>
			<p>•	Sorting mail alphanumerically to ensure proper delivery</p>
			<p>•	Sort/classify/cross-reference correspondence according to guidelines</p>
			<p>•	Perform periodic inspections of files in order to ensure correct placement, legibility, and proper condition</p>
			<p>•	Reviewing documents for conformance with regulations and procedures</p>
			<p>•	Responding to file requests</p>
			<p>•	Prepared excel spreadsheets in regards to daily files put away</p>

					<br>

			<p>Aboriginal Affairs and Northern Development Canada, Gatineau, QC</p>
			<p>Nov. 2012 - Mar. 2013</p>
			<p><b>Desktop Clerk</b></p>
			<p>Responsibilities:</p>
			<p>•	Daily use of Groupwise, Microsoft Excel, Word, RDIMS, CIDM, Photoshop, e-learning Suite and Media Encoder</p>
			<p>•	Develop departmental courses using Adobe Captivate</p>
			<p>•	Design aesthetic course layouts using Adobe Photoshop CS6</p>
			<p>•	Manage courses published to the departments Adobe Connect Learning Management System</p>
			<p>•	Manage orientation e-mail welcoming new employees to the department and providing information and training dates.</p>
			<p>•	Design and print Language training pamphlets in Photoshop and Word</p>
			<p>•	Create easy-to-read budget tables for HR's training and travelling</p>
			<p>•	Editing, proofreading, and finalizing correspondence, reports, and other documents</p>
			<br>
		</div>
	</div>
</div>
<div class="jumbotronExp text-left" ng-hide="Work" ng-show="Dev">
<div id="Dev">
	<div class="logoFontTitle text-center">
	  	<p>-Development-</p>
	  	</div>
	  	<div class="jumbotron_Exp">
				<p><b>Indipendant Developer</b></p>
				<p>HTML, CSS, Javascript, AngularJS, Node.js, Ruby on Rails, Git/Github, C# and graphic design</p>
				<p>Created and maintained front-end website using HTML, CSS, JS and AngularJS and hosted using AWS</p>
				<p>Created SaaS App using Rails, Postgres and Heroku.
				<p>Created multiple games/applications in C# using Unity</p>

	            <br>
	            <div class="logoFontTitle text-center">
				<p>-Education-</p>
				</div>
				<p><b>Algonquin College</b></p>
				<p>Sep. 2010 - Apr 2013</p>
				<p>Advanced Diploma - Game Development</p>
				<p>C#, C++, Objective-C, HLSL, Flash, 3DS Max, Photoshop</p>
				<p>Projects:</p>
				<p>•	Developed a professional industry level 3D game for the PC in small teams.</p>
				<p>•	Created virtual clients and servers that could communicate between each other (UDP/TCP networking)</p>
				<p>•	Modeled and animated several complex objects and characters using 3DS Max</p>
				<p>•	Developed a side-scrolling IOS game using Objective-C and OpenGL</p>
		</div>
		</div>
</div>
	
</body>
</html>